<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>MovieRama</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">MovieRama</a>
        <a class="navbar-brand" href="#">Sort By</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Likes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Date</a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <% if (!user) { %>
                    <a class="nav-link" href="auth/github">Sign in with Github</a>
                    <% } else { %>
                    <a class="nav-link">Hello, <%= user.username %>!</a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">MovieRama</h1>
            <p>Welcome to the biggest social movie sharing platform! Add and vote your favorite movies !</p>
            <% if (!user) { %>
            <p><a class="btn btn-primary btn-lg" href="auth/github" role="button">Login to add your Movie Now!
                    &raquo;</a></p>
            <% } else { %>
            <p><a class="btn btn-primary btn-lg" href="/movie" role="button">Add your Movie Now! &raquo;</a></p>
            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <% for(var i=0; i<movies.length; i++) { %>
            <div class="col-md-4">
                <% if (movies.length >= 0) { %>
                <h2> <%= movies[i].title %></h2>
                <h5>Posted by : <%= movies[i].user.username %> at
                    <%= moment(movies[i].created_at).format('DD/MM-YYYY') %></h5>
                <p> <%= movies[i].description %> </p>
                <form action="/addRating" method="post">
                    <input class="social-like" type="submit" name="like" value="like" />
                    <input type="hidden" name="user_id" value=<%= movies[i].user.id %> />
                    <input type="hidden" name="movie_id" value=<%= movies[i].id %> <span
                        class="like"><%= movies[i].like_counts %></span></input>
                </form>
                <form action="/addRating" method="post">
                    <input class="social-dislike" type="submit" name="dislike" value="dislike"></input>
                    <input type="hidden" name="user_id" value=<%= movies[i].user.id %> />
                    <input type="hidden" name="movie_id" value=<%= movies[i].id %> <span
                        class="like"><%= movies[i].hate_counts %></span></input>
                </form>
            </div>
            <% } %>
            <% } %>
        </div>
        <hr>
    </div> <!-- /container -->
    </main>

    <footer class="container">
        <p>&copy; Theodore P. 2020</p>
    </footer>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var instance = axios.create({
        baseURL: "http://localhost:3000" //use your express server's url(address) and port here
    });

    function onclick() {
        instance.post("/").then(response => {
            //response.data will have received data
        }
}
</script>

</html>